@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    @{
        if(!string.IsNullOrWhiteSpace(ViewBag.User)){
        <span>@ViewBag.User</span>
        <img src="@ViewBag.figureurl_qq_2" alt="qqtouxiang" />

        }else{
        <a href="/Home/QqAuthorize">QQ</a>
        }

    }


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
